@import "tailwindcss";

/* TEMA INLINE DO TAILWIND V4 */
@theme inline {

  /* CORES PERSONALIZADAS */
  --color-rebu-primary: #ffde59;
  --color-rebu-secondary: #0057a3;
  --color-rebu-acento: #fbf5e3;
  --color-rebu-soft: #ffffff;

  /* FONTES */
  --font-sans: Inter, ui-sans-serif, system-ui;
  --font-titulo: Oswald, sans-serif;
}

/* RESET OPCIONAL */
body {
  font-family: var(--font-sans);
  background: var(--color-rebu-soft);
  color: var(--color-rebu-secondary);
}



